# docker-compose.yml
version: '3.8'
services:
  proxy:
    build: .
    ports:
      - 3000:3000/udp
    environment:
      -UDP_KEY : "0123456789ABCDEFFEDCBA9876543210"
      -UDP_TARGET : "95.181.161.66:3000"